# BC.Game Cookie - Required for authentication
#
# How to get your cookies:
# 1. Open https://bc.game in Chrome
# 2. Press F12 → Network tab
# 3. Make any request on the page
# 4. Click that request → Headers section
# 5. Find the "Cookie:" header
# 6. Copy the entire value and paste below
#
# It will look like:
# smidV2=...; SESSION=...; _ga=...; intercom-id-t87ss9s4=...; etc

BC_GAME_COOKIES=your_full_cookie_string_here

# Timezone - Default is America/New_York (EST/EDT)
#
# Change to your timezone using IANA timezone names:
# America/New_York     (EST/EDT)
# America/Chicago      (CST/CDT)
# America/Denver       (MST/MDT)
# America/Los_Angeles  (PST/PDT)
# Europe/London        (GMT/BST)
# Europe/Paris         (CET/CEST)
# Asia/Tokyo           (JST)
# Australia/Sydney     (AEDT/AEST)
# UTC
#
# Full list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

APP_TIMEZONE=America/New_York
