# BC.Game Cookie - Required for authentication
#
# How to get your cookies:
# 1. Open https://bc.game in Chrome
# 2. Press F12 → Network tab
# 3. Make any request on the page
# 4. Click that request → Headers section
# 5. Find the "Cookie:" header
# 6. Copy the entire value and paste below
#
# It will look like:
# smidV2=...; SESSION=...; _ga=...; intercom-id-t87ss9s4=...; etc

BC_GAME_COOKIES=your_full_cookie_string_here
